# For Jekyll
_site/
.sass-cache/
.jekyll-metadata
jekyll_src/_data/*.yml
jekyll_src/_data/*.csv
jekyll_src/static/img/sponsors/*
jekyll_src/_posts/20*
jekyll_src/author/*.md
editor/tmp
build_overrides

# For ViM (because why would you need any other editor?)
*~

# Just... no.
.DS_Store
