---
layout: default
title: Risky Business
description: It's a jungle out there!
---

        {% for post in paginator.posts %}
            {% include post_teaser.html %}
        {% endfor %}
    <hr>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
