{% extends "base.html" %}

{% if subtitle %}
  {% block subtitle %}
  <h2>Blog Posts</h2>
  {% endblock %}
{% endif %}

{% block content %}
<div class="row">
  <div class="panel panel-default">
    {% for postCollection in posts %}
    <div id="{{ postCollection.category }}">
      <div class="panel-heading">
         <h3 class="panel-title">
      		{{ postCollection.heading }}
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for catPost in postCollection.posts %}
          <li><a href="{{ catPost.href }}">{{ catPost.text}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
