<!-- Footer -->
<footer class="">
    <div class="block-center">
        <ul class="list-inline text-center">
            <li>
                <a href="{{ "/feed.xml" | prepend: site.url }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <p class="copyright text-muted">&copy; {{ site.title }} 2007-{{ site.time | date: '%Y' }}.</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha384-6ePHh72Rl3hKio4HiJ841psfsRJveeS+aLoaEf3BWfS+gTF0XdAqku2ka8VddikM" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" integrity="sha384-ovn+ksX00EqrxlV2SLbvnb13K5244CZPrO3v08mAssOuQ1AgGVcEu4k44sdOJPJE" crossorigin="anonymous"></script>

<!-- JS libs -->
<script src="/static/js/super-search.js" integrity="tWqc4itsS4p6z3QI2WoyOE47wv/DhoOF2vQ1Rtk2wfBLV2zRPX/gwgFMzWtomUTC" crossorigin="anonymous"></script>

{% if site.socialite %}
<!-- Social links -->
<script src="/static/js/socialite.min.js" integrity="iTgAd3J2FidHjdo5XwgxDwBPr8iHT+dImjmShNUWaSWY0ZJRWJyrrKapzE0vIPot" crossorigin="anonymous"></script>
<script type="text/javascript">
    (function($) {
		$("img.lazy").lazyload({
			skip_invisible : true
		});
        Socialite.load();
    })(jQuery);
    
</script>
{% endif %}

{% if site.ga_site_id %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.ga_site_id }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
