---
layout: default
---
<h1>{{ page.title }}</h1>
{% if page.tagline %}
<div class="tagline">{{ page.tagline }}</div>
{% endif %}
<span class="time">{{ page.date | date_to_string }}</span>
{% if page.categories %}
<span class="categories">
    &raquo; {% for category in page.categories %}<a href="/category/{{ category }}">{{ site.data.categories[category].title }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
</span>
{% endif %}

<div class="content">
	{% if page.sponsor %}
	<div class="sponsor col-xs-12 col-sm-6 pull-right text-center"><a href="{{ site.data.sponsors[page.sponsor].url }}" title="{{ site.data.sponsors[page.sponsor].name }}"><img src="{{ site.data.sponsors[page.sponsor].banner_url }}" width="100%" class="img-responsive" alt="sponsor banner" title="{{ site.data.sponsors[page.sponsor].name }}"><small>This episode sponsored by {{ site.data.sponsors[page.sponsor].name }}.</small></a></div>
	{% endif %}
    <div class="post">
    <p class="pub-date">{{ post.date | date: '%B %d, %Y' }}</p>
    {{ content }}</div>
    {% if page.media_url %}
        <div class="well well-sm text-center">
            <!-- Simple audio playback -->
            <audio controls preload="none">
                <source src="{{ page.media_url }}" type="audio/mp3">
                {% if page.media_url_ogg %}
                <source src="{{ page.media_url_ogg }}" type="audio/">
                {% endif %}
                <!-- Add support for older browsers -->
                <object id="monFlash" type="application/x-shockwave-flash" data="/static/fallback_player/player_mp3_maxi.swf" width="200" height="20">
                    <param name="wmode" value="transparent" />
                    <param name="movie" value="/static/fallback_player/player_mp3_maxi.swf" />
                    <param name="FlashVars" value="mp3={{ page.media_url }}" />
                    <p>The Audio tag isn't supported and neither is flash... You could always download the file and play locally.</p>
                </object>
            </audio>
			{% if page.categories %}
            <div id="service-download-links">
				{% for category in page.categories %}
        {% if site.data.categories[category].published %}
				    <div class="category-{{ category }}">
						<a href="/feeds/{{ category }}"><img src="/static/img/icons/rss-icon-80.png" width="45" height="45"></a>
						<a href="{{ site.itpcurl }}/feeds/{{ category }}"><img src="/static/img/icons/link-badge-itunes_2x.png" width="124" height="45"></a><br />
            {% if site.data.categories[category].play-link %}<a href="{{ site.data.categories[category].play-link }}"><img src="/static/img/icons/google-play-badge.png" height="80"></a>{% endif %}<br />
						Subscribe to the {{ site.data.categories[category].title }} feed.
					</div>
        {% endif %}
				{% endfor %}
            </div>
			{% endif %}
            <div id="download-links">
                <a href="{{ page.media_url }}"><span class="glyphicon glyphicon-cloud-download"></span> Download mp3 </a>
                {% if page.media_url_ogg %}
                    | <a href="{{ page.media_url_ogg }}"><span class="glyphicon glyphicon-cloud-download"></span> Download ogg</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if page.show_notes %}
    <div class="panel panel-default show-notes">
        <div class="panel-heading">
            <h3 class="panel-title">Show notes</h3>
        </div>
        <div class="panel-body">
            <dl>
            {% for show_note in page.show_notes %}
                <dt><a href="{{ show_note.link }}">{{ show_note.title }}</a></dt>
                <dd>{{ show_note.description }}</dd>
            {% endfor %}
            </dl>
        </div>
    </div>
    {% endif %}
</div>

{% assign hasSimilar = '' %}
{% for post in site.posts  %}
    {% assign postHasSimilar = false %}
    {% for tag in post.categories %}
        {% for thisTag in page.categories %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
<div class="panel-body">
    <h4>Related Posts</h4>
    <ul>
                {% endif %}
        <li class="relatedPost">
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                {% if post.categories %}
                    (Categories:
                    {% for category in post.categories %}
                        <a href="/category/{{ category }}">{{ site.data.categories.[category].title }}</a>
                        {% if forloop.last == false %}, {% endif %}
                    {% endfor %})
                {% endif %}
        </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
    </ul>
</div>
{% endif %}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>

{% if site.disqus_shortname %}
<div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* <![CDATA[ */

        var disqus_shortname = '{{ site.disqus_shortname }}';
        var disqus_identifier = "{{ site.url }}_{{ page.title }}";
        var disqus_title = "{{ page.title }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    /* ]]> */
    </script>
</div>
{% endif %}
