---
layout: default
---

<header id="post-header">
    <h1 id="post-subtitle">Articles from {{ site.data.authors[page.author].name }}</h1>
</header>

<div id="post-content">
    <hr />
    {% for author in site.data.authors %}
        {% capture author_slug %}{{ author | first }}{% endcapture %}
        {% for a_slug in author_slug %}
            {% if a_slug == page.author %}
                <button class="btn btn-sm btn-default active">{{ site.data.authors[a_slug].name }}</button>
            {% else %}
                <a href="/author/{{ a_slug }}" class="btn btn-sm btn-default">{{ site.data.authors[a_slug].name }}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr />

    {% capture previous_year %}0{% endcapture %}
    {% for post in site.posts %}
        {% if post.author == page.author %}
            {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if forloop.first %}
            <h4>{{ post_year }}</h4>
            <div class="list-group">
                <ul class="posts">
            {% endif %}

            {% if forloop.first == false %}
                {% assign previous_index = forloop.index0 | minus: 1 %}
                {% capture previous_post_year %}{{ site.authors[page.authors][previous_index].date | date: '%Y' }}{% endcapture %}
                {% if post_year != previous_year %}
                </ul>
            </div>
            <h4>{{ post_year }}</h4>
            <div class="list-group">
                <ul class="posts">
                {% endif %}
            {% endif %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
            {% if forloop.last %}
                </ul>
            </div>
            {% endif %}
            {% capture previous_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% endif %}
    {% endfor %}
</div>
