<!-- Page Header -->
<!--  col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 -->
<header class="intro-header visible-xs">
    <div id="logo-title">
        <div id="logo">
            <a href="/" title="{{ page.title }}" rel="home">
            <img data-original="/static/img/logos/rblogo-395.png" class="lazy img-responsive img-center" alt="Home" id="logo-image">
            <noscript><img src="/static/img/logos/rblogo-395.png" class="img-responsive img-center" alt="Home" id="logo-image-ns"></noscript>
            </a>
        </div>
    </div> <!-- /#logo-title -->
    <div class="text-center">
        <a href="/subscribe/">
            <img class="lazy img-responsive img-center" data-original="/static/img/subscribe-395.png" />
            <noscript><img id="subscribe" src="/static/img/subscribe-395.png" alt="Subscribe" class="img-responsive" /></noscript>
        </a>
    </div>
</header>

