<article>
  <div class="post-excerpt">
    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
    {% if post.tagline %}
    <span class="field-content">{{ post.tagline }}</span>
    {% endif %}

    <div class="byline">
      <p class="pub-date">{{ post.date | date: '%B %d, %Y' }}</p>
    </div>
    <div class="content">

    {% if post.teaser %}
      {{ post.teaser }}
    {% else %}
      {{ post.excerpt }}
    {% endif %}
    </div>
    <div class="read-more">
      <span><a href="{{ post.url }}">&gt;&gt; read more/listen</a></span>
    </div>
  </div>
</article>
