.sponsor {
	margin: 0.5em
}

.show-notes dt:not(:first-of-type) {
	margin-top: 4px;
	border-top: #f5f5f5 solid thin;
	padding-top: 4px;
}

#js-search .form-control {
	width: 100%;
}

#js-search li {
	text-align: left;
}

#js-search li span.search__result-date {
	white-space: nowrap;
}

.search__result-date:before {
  content: " - ";
}

.search__result-date {
  position: initial;
  right: initial;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

article {
  padding-bottom: 2rem;
}

article p,
article ul {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

article p,
article ul {
  margin-bottom: 2rem;
}
article p:last-child {
  margin-bottom: 1rem;
}

article a,
article a:link,
article a:active,
article .post a,
article .post a:link,
article .post a:active,
article .read-more a,
article .read-more a:link,
article .read-more a:active {
  text-decoration: underline;
  color: #f89c40;
}

article audio {
  width: 100%;
}
