.sponsor {
	margin: 0.5em
}

.show-notes dt:not(:first-of-type) {
	margin-top: 4px;
	border-top: #f5f5f5 solid thin;
	padding-top: 4px;
}

#js-search .form-control {
	width: 100%;
}

#js-search li {
	text-align: left;
}

#js-search li span.search__result-date {
	white-space: nowrap;
}

.search__result-date:before {
  content: " - ";
}

.search__result-date {
  position: initial;
  right: initial;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

article .content a,
article .content a:link,
article .content a:active,
article .content .post a,
article .content .post a:link,
article .content .post a:active,
article .read-more a,
article .read-more a:link,
article .read-more a:active {
  text-decoration: underline;
}
